/* reset some specific things here */
body { 
	font-size: 1.1em; /* wider fonts */
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

a.homepage {
	margin-left: 3px;
	font-size: 12px;
}

article {
	background-color: #fff;
	padding: 1em;
	height: 100%;
	border-radius: 5px;
}

article.post {
	display: flex;
	flex-direction: column;
	color: #000;
	border: 3px solid #ccc;
	border-radius: 10px;
	margin: 1em;
	padding: 1em;
	height: 325px;
}

.attachment-post-thumbnail {
	background-color: rgba(0, 0, 0, 1.0);
	background-blend-mode: luminosity;
	opacity: 0.80;
}

div.quote {
	height: auto;
	margin-bottom: 5px;
	color: #9289c0;
}

#quotewidget {text-shadow: 4px 4px #000; color: #fff}

#main {
	min-height: 420px; 
	background-color: #fff;
	padding: 1em;
	border: 1px solid #888;
	margin-top: 2rem;
}

.single-featured-image-header {
	max-width: 48em;
	margin: auto;
	padding: 10px;
}

section.row { 
    padding: 10px;
    width: 100%;
}

section.widget {
	background-color: rgba(255, 255, 255, 0.45);
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 10px;
	height: auto;
	width: 99%;
	margin-bottom: 10px;
}

.align-items-center {
    align-items: center;
    justify-content: center;
    width: max-content;
    flex: 1 1 0;
    width: 250px;
}

.wrap {
	position: relative;
}

.centered {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 0.6em;
	
}

.site-info {
    display: grid;
    background-color: rgba(0,0,0, 0.50);
    margin: 0;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
	text-align: center;
}

#toggle-nav-menu {
	display: none;
}

#top-menu li ul.sub-menu {
	text-align: left;
}

.site-branding {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

@media screen and (min-width: 48em) {
#site-header {width: 48em}
}

/* Mobile-specific aka responsive navigation thingy */
@media screen and (max-width: 48em) {
	/* nav menu toggle button: position: top-right of the viewport. */
	#toggle-nav-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 50px;
	}
	#top-menu {
		display: block;
		visibility:hidden;
		position: relative;
		clear: both;
	}
	#top-menu.top-menu-visible {
		display: block;
		visibility: visible;
		top: 40px;
		position: relative;
		margin-bottom: 5px;
		clear: both;
		z-index: 5;
		opacity: 0.95;
		border: 1px solid #ddd;
	}
	#top-menu.top-menu-visible li ul.sub-menu {
		display: none;
	}
}

h2.widget-title {
    margin-bottom: 15px;
}

h2.page-title {
   letter-spacing: 4px;
   font-size: 1.2rem;
   font-weight: 600;
   color: #4a6074;
   padding: 10px;
}

div.textwidget {
    padding: auto;
	font-size: 1rem;
	text-align: justify;
}

div.textwidget ul {
    list-style: none;
}

ul.default-list li, ol.default-list li {
    list-style-type: none; 
    padding-left: 2em;
	font-weight: bold;
    padding: 10px;
    line-height: 1.5em;
	font-size: 0.95rem;
    background-color: #888;
	margin-bottom: 10px;
}

/* FORMS */

.form-inline {
  display: flex;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    height: 46px;
	width: 40px;
	background-color: #333;
    border: 1px solid #555;
	border-radius: 5%;
    color: white;
	display: inline;
	padding: 10px;
}

input[type=button].btn-large {
	height: 66px;
	width: 200px;
	background-color: #333;
	border: 1px solid #555;
	border-radius: 5px;
	color: #fff;
	display: inline;
	padding: 5px;
	text-align: center;
	font-size: 2rem;
	text-decoration: none;
}

input[type=button].btn-large:hover { 
	background-color: #000;
	color: #9289c0;
	border: 1px solid #9289c0;
	transition: 5ms;
}

#searchform input[type="text"], 
#searchform button[type="submit"]{
    padding: 0.25em;
    min-width: min-content;
    height: auto;
}

#likeBtn {
	background: #444040;
	color: #fff;
	border: 1px solid #ccc;
	width: 90px;
	border-radius 2px;
	padding: 10px 10px;
}

#likeBtn.active { 
	color: red;
	transition: 5ms;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

/* thumbnail gallery */
.gallery {
	display: flex; 
	flex-wrap: nowrap; 
	gap: 5px;
	max-width: 100%;
}

.gallery div {
	flex-direction: row;
	border: 2px solid #fff;
	border-radius: 5px;
	width: 225px;
}

/* img {
	border: 2px solid #bbb;
	border-radius: 5px;
} */

.gallery img {
	height: 100%;
	width: 100%;
}

.gallery p { padding-left: 0; font-size: small; margin: 0 0 1.5em } 

/* BLOCKQUOTES **/

blockquote {
    font-size: 1.1rem;
    font-style: normal;
    width: 100%;
    margin: 0.5em 0;
    padding: 2.5em;
    line-height: 1.5;
    position: relative;
    color: #383838;
    border-radius: 5px;
	border: 1px outset #888;
    background-color: #ddd;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -2px;
    top: -5px;
    color: #7a7a7a;
}

blockquote cite {
    font-size: 16px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* FOOTER */

footer {
	/*background: url('/wp-content/uploads/2023/07/cropped-illustration-5120762_1920-bw.png') 0 100%;*/
	background: url('/wp-content/uploads/2023/12/woman-600225_1920.jpg') 0 25%;
	width: 100%;
	/* background-size: cover; /* cover */ 
	background-repeat: no-repeat;
	background-blend-mode: luminosity; /* multiply */
	background-color: #c3d6e7;
	background-position: auto auto;
}

.grayscale {
	background-color: rgba(0, 0, 35, 0.75);
	background-blend-mode: multiply;
}



div.overlay1 {
	background-color: #ddd;
	font-size: 1.10rem;
	text-align: center;
	padding: 1em;
	margin-top: 1em;
	border-radius: 10px;
	font-weight: 600;
}

/* LINKS */
a.button {text-decoration: none; display: inline-block}
a.button img {height: 35px; margin-left: 1.5em}

/* misc */
div.description {
	padding: 10px;
	margin-bottom: 10px;

	background-color: rgba(255, 255, 255, 0.2);
	font-size: 1.2em;
	border: 1px solid #888;
	border-radius: 5px;
	line-height: 1.5em;
	color: #fff;
}
div.description h3 {
	color: #fbcdcf;
}

div.description p {
	margin-bottom: 0.5em;
}

.new {
	font-size: 1.1em;
	color: #9289c0;
	font-weight: bold;
	text-decoration: small-caps;
}

/* custom list styles */

ul.list-item li {
	padding-left: 1em;
	font-size: 12px;
}


h1.site-title {
  font-size: 2rem;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  text-shadow: 3px 3px 5px #ccc;
  text-overflow: wrap;
  color: #4a6074;
}

p.site-description {
	padding-left: 10px; 
	padding-top: 5px;
	padding-right: 5px;
	font-weight: bold;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.50);
}

#site-header {
	background: url('/wp-content/uploads/2023/12/trees-4741364_1600-1.png') 0 100%; 
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
	background-position: auto auto;
	position: relative;
	border-bottom: 5px dashed #4a6074;
}

#content {
	margin: 0;
}

/* VISUAL EFFECTS emphasing on contrast */
h2.page-title {
	margin-bottom: 15px;
}

a.more-link { float: right; color: #108df8; font-weight: bold; text-decoration: none }

.entry-content h3, h3.comment-reply-title {
	color: #108df8;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 1.15px;
	text-align: left;
}

.entry-meta {
	font-size: 0.8rem;
	color: #ccc;
}

.entry-title {
	padding: 20px 10px;
}

.entry-footer {
	text-align: right;
}

.entry-excerpt {
	padding: 0px 10px;
	font-size: 1rem;
	font-weight: bold;
}



.entry-content p {
	word-spacing: 0px;
	color: #000;
}

.entry-info {
	font-size: 12px;
	font-weight: 600;
	margin-top: 5px;
}

.colors-light .entry-title a,
.colors-light .entry-title a:active, 
.colors-light .entry-title a:hover {
	color: #fff;
}

.site-info p { color: #ddd }
.site-info a { text-decoration: none; color: #fff }

.post-thumbnail img {
	height: auto;
}

#site-navigation a {font-weight: 600}
